@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sora, sans-serif;
}

:root {
    --bg-main: #0C091C;
    --text-color: #F5F5F5;
    --text-color-hover: #E5E5E5;
    --card-bg: rgba(12, 9, 28, 0.7);
    --card-bg-hover: rgb(43, 43, 68);
    --error-color: #CC0000;

    --default-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(27,20,62,1) 0%, rgba(20,15,46,1) 100%);
    color: var(--text-color);
}

input::placeholder {
    font-family: Sora, sans-serif;
}
